/* Styling for large components */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: #282828;
  background-color: white;
  margin: 8vh;
}

.card {
    position: relative;
    border: 5px solid black;
    border-radius: 30px;
    display: flexbox;
    padding: 10px;
    box-shadow: 5px 5px 10px gray;
}

/* Nav bar appearance */

nav p {
  display: flex;
  align-items: normal;
  justify-content: right;
  font-size: large;
  font-weight: 100;
  color: #282828;
}
/* Top Section */
.home {
  display: flexbox;
  height: 80vh;
  margin: auto;
  text-align: center;
  flex: 1 1 2;
 
}

#JAG {
  display: flex;
  border-radius: 25px;
  width: 100px;
  height: 100px;
  margin: 5px;
  box-shadow: 5 5 5;
}

h1 {
  font-size: 100px;
}

/* "Skill(s)" Section */
.languages {
  display: flexbox;
  height: 20vh;
}

.languages img {
  display: flexbox;
  justify-content: space-evenly;
  position: relative;
  background-color: none;
  z-index: 2;
  height: 20vh;
  width: 20vh;
}

.languages p {
  display: flexbox;
  position: absolute;
  font-size: 100px;
  font-weight: 300;
  z-index: 1;
}
